/* 
//  FONTS
*/

@font-face {
  font-family: "Mona Sans";
  src: url("../Mona-Sans.woff2") format("woff2 supports variations"),
    url("../Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Hubot Sans";
  src: url("../Hubot-Sans.woff2") format("woff2 supports variations"),
    url("../Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* 
//  Elements
*/

* {
  font-family: "Mona Sans", sans-serif;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
}

hr {
  border: 1px solid rgb(28, 28, 40);
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-button {
  background-color: #000;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

/* 
//  CLASSES
*/

/* ROOT */

.root {
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  backdrop-filter: brightness(50%) blur(20px);
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar__content .left {
  gap: 10px;
}

.navbar__content-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  transform: translateX(-10px);
}

.navbar-arrow i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.2ch;
  transition: all 0.2s ease-in-out;
}

.navbar-arrow {
  transition: all 0.2s ease-in-out;
}

.navbar-icon img {
  width: 32px;
}

.navbar-separation {
  font-size: 3.4ch;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-title h1 {
  margin-left: 1vh;
  font-size: 2.7ch;
  font-weight: 600;
}

.navbar__content button {
  background: transparent;
  color: #fff;
  padding: 12px 32px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  font-size: 1.8ch;
  font-weight: 600;

  transition: all 0.12s ease-in-out;
}

.navbar__content button:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

/* CONTENT */

.content {
  background: #000;
  padding: 14vh 6vh;
}

/* HERO */

.content__hero {
  border-radius: 20px;
  overflow: hidden;

  width: 100%;

  margin-bottom: 10vh;

  /**/
  position: relative;

  cursor: pointer;
}

.content__hero-playbtn {
  position: absolute;
  bottom: 5vh;
  left: 6vh;
  padding: 11px 12px;

  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.3);

  font-weight: 500;
  border-radius: 100px;

  align-items: center;
  display: flex;

  transition: all 0.15s ease-in-out;
}
.content__hero-playbtn i {
  font-size: 2.8ch;
  margin-right: 2vh;
}
.content__hero-playbtn p {
  margin-right: 1.5vh;
}

.content__hero img {
  width: 100%;
  object-fit: cover;

  transition: all 0.18s ease-in-out;
  transform: scale(1.05);
}

/* HERO TITLE */

.content__title img {
  margin-bottom: 10vh;
  width: 100%;
}

.content__title {
  opacity: 0;
  transform: scale(1.05);
  transition: all 0.8s ease-in-out;
}

.content__description {
  margin-bottom: 10vh;
  font-size: 3.6vw;
  font-weight: 600;
  color: #8b949e;
}

.content__description-span img {
  margin: 0 2vh;
  height: 3.6vw;
}

/* IMAGES */

.content__images-imgs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 7vw);
  grid-gap: 2.2vw;
}

.content__images-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6vw;
}

.b1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.b2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.b3 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
}

.b4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.b5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 7;
}

.b6 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 7;
}

/* ANALYTICS */

.content__analytics {
  margin: 10vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.analytics-text {
  font-size: 6vw;
  font-family: "Hubot Sans";
  font-weight: 600;
  font-stretch: 50%;

  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(20px);
}

.t1 {
  transition-delay: 1ms;
}
.t2 {
  transition-delay: 100ms;
}
.t3 {
  transition-delay: 200ms;
}
.t4 {
  transition-delay: 300ms;
}

.analytics-span {
  font-size: 2.6ch;
  color: #6e757d;
  font-weight: 500;
}

/* SESSIONS */

.content__sessions {
  margin: 14vh 0;
}

.content__sessions-title {
  font-size: 2.5vw;
  margin-bottom: 10vh;
}

.content__sessions-block {
  display: flex;
  gap: 4vw;
  width: 100%;
  height: 100%;
  margin-bottom: 6vw;
}

.sessions-block-left {
  width: 100%;
}

.sessions-block-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 2vh;
}

.sessions-block-right {
  width: 100%;
}

.sessions-block-title h2 {
  font-size: 3vw;
  font-weight: 600;
}

.sessions-block-description p {
  margin: 4vh 0;
  font-size: 1.5vw;
  line-height: 5vh;
  color: #6b727a;
  font-weight: 500;
}

.sessions-block-link span {
  font-weight: 600;
  font-size: 1.8ch;

  transition: all 0.25s ease-in-out;
}

.sessions-block-link span:first-child:hover {
  padding-right: 5px;
}

.sessions-block-link a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.sessions-block-link a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.sessions-block-link a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sessions-block-link i {
  margin-left: 5px;
}

/* NEWSLETTER */

.content__newsletter {
  margin: 12vw 0;
  width: 100%;
  height: 100%;
}

.content__newsletter-box {
  background: #0d1117;
  background-image: url(../img/bbblurry.svg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 14vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;

  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 20px;
}

.newsletter-box-left {
  width: 100%;
  float: left;
}

.newsletter-box-right {
  width: 100%;
  float: right;
}

.box-left-title h2 {
  font-size: 3vw;
  font-weight: 600;
}

.box-left-date {
  margin: 3vh 0;

  color: #828b94;
  color: #cecece;

  font-weight: 500;
}
.box-left-description {
  color: #828b94;
  color: #cecece;
  font-weight: 500;
}

.box-right-label {
  font-size: 1.1vw;
  font-weight: 600;
  margin-bottom: 1vh;
}

.box-right-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3vh;
}

.input-email input {
  padding: 2vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1vh;
  width: 21vw;
  height: 1.6vw;
  float: left;
  background: transparent;
  color: #fff;
  font-weight: 500;
}

.input-submit button {
  width: 100%;
  height: 100%;
  float: right;

  background: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 1vw 2.2vw;

  font-size: 1.2vw;
  font-weight: 600;

  transition: all 0.12s ease-in-out;
}

.input-submit button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.box-right-terms {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: start;
}

.box-right-terms p {
  font-weight: 500;
  font-size: 1.1vw;
  color: #828b94;
  color: #cecece;
}

.box-right-terms a {
  color: #74b8f4;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.box-right-terms input {
  border: 3px solid #fff;
  background: transparent;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 100%;

  background: #0f131b;
}

.footer__top {
  border-top: 1px solid rgba(130, 139, 148, 0.3);
  border-bottom: 1px solid rgba(130, 139, 148, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.8vw 2vw;
}

.footer__top-left img {
  width: 90px;
}

.footer__top-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__top-right img {
  width: 25px;
  margin: 0 8px;
}

.footer__bottom {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 3.8vw 2vw;

  color: #828b94;
  font-weight: 500;
}

.footer__bottom a {
  color: #828b94;
  margin: 0 0.6vw;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: transparent;

  transition: all 0.15s ease-in-out;
}

.footer__bottom a:hover {
  text-decoration-color: #828b94;
}
